<!-- 
<h1>{{name}}</h1>
<h1>{{category}}</h1>
<h1>{{phnum}}</h1> -->
<!-- Button trigger modal -->

<!-- Button trigger modal -->

  
  <!-- Modal -->
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" value="{{name}}" [(ngModel)]="name" >
          <br>
            <input type="text" value="{{category}}" [(ngModel)]="category">
            <input type="text" value="{{phnum}}" [(ngModel)]="phnum">

        </div>
        <div class="modal-footer">
          <button (click)="buttonPress()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="updateContacts()" type="button" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  <!-- </div> -->

<!-- <button (click)="buttonPress()" >back</button> -->